4-Day2-Practical/assets/IAQ_IoT_flows.json
[{"id":"5455e92d.eb8018","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"bfae6e05.8c53d8","type":"mqtt in","z":"5455e92d.eb8018","name":"","topic":"handson/sensor/volume/user001","qos":"2","datatype":"json","broker":"7f43c84.ab71db8","nl":false,"rap":true,"rh":0,"x":190,"y":160,"wires":[["14b4624d.b3ffb6","bc7b4357.cc6618","30a5bb59.fb4e5c","d82203a7.0f0c"]]},{"id":"14b4624d.b3ffb6","type":"debug","z":"5455e92d.eb8018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"e47817ff.5e7e9","type":"ui_gauge","z":"5455e92d.eb8018","name":"","group":"934b952a.ac87f","order":0,"width":0,"height":0,"gtype":"gage","title":"室温","label":"units","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":410,"y":260,"wires":[]},{"id":"bc7b4357.cc6618","type":"change","z":"5455e92d.eb8018","name":"TEMP抽出","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":260,"wires":[["e47817ff.5e7e9"]]},{"id":"67a59ef1.29252","type":"ui_gauge","z":"5455e92d.eb8018","name":"","group":"934b952a.ac87f","order":0,"width":0,"height":0,"gtype":"gage","title":"湿度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":410,"y":320,"wires":[]},{"id":"30a5bb59.fb4e5c","type":"change","z":"5455e92d.eb8018","name":"HUM抽出","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":320,"wires":[["67a59ef1.29252"]]},{"id":"fe04be77.ea8c98","type":"ui_gauge","z":"5455e92d.eb8018","name":"","group":"934b952a.ac87f","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2濃度","label":"units","format":"{{value}}","min":"400","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":420,"y":380,"wires":[]},{"id":"d82203a7.0f0c","type":"change","z":"5455e92d.eb8018","name":"CO2抽出","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.co2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":380,"wires":[["fe04be77.ea8c98"]]},{"id":"7f43c84.ab71db8","type":"mqtt-broker","name":"EMQX","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"934b952a.ac87f","type":"ui_group","name":"デフォルト","tab":"8ae3a292.6853b8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8ae3a292.6853b8","type":"ui_tab","name":"ホーム","icon":"dashboard","disabled":false,"hidden":false}]